/*------------------------------------------TABELA-----------------------------------------------------------------*/
.mainBox{
    margin-top:20px;
    padding:20px;	
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 0px 77px 7px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 0px 77px 7px rgba(0,0,0,0.9);
    box-shadow: 0px 0px 77px 7px rgba(0,0,0,0.9);
    border-radius: 10px 10px 10px 10px;    
}

button[type="submit"]{
    border:none;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #C71585;
    color: #000;
    font-size:1.5rem;
    outline: none;
}

button[type="submit"]:hover,
button[type="submit"]:target,
button[type="submit"]:active,
button[type="submit"]:visited,
button[type="submit"]:focus{
    background-color: #D71585;
    outline: none;
    border:none;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}

button[type="submit"]:focus:active{
    background-color: #D71585;
    outline: none;
    border:none;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}

/*------------------------------------------TABELA-----------------------------------------------------------------*/

.table_newsletter{
    max-width:500px;
    margin: 0 auto;   
}

table{
    width:100%;
    border-collapse: collapse;
    border-spacing: 0px;
    table-layout: fixed;
}

tr:hover {background-color: #C71585;}

table th{
    text-align:center;
    background-color: rgba(199, 21, 133, 0.3);
    border-bottom: 1px solid #C71585;
    width:20%;	
}

table, th, td{
    padding: 5px;
}

table > thead > tr > th{
    border: 1px solid black;
}


table > tbody > tr {
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #C71585;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    text-align:center;
}

table > tbody > tr > td{
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}


.price-list > p {
    font-size:1rem;
    padding:10px;
    margin-bottom:0;
    background-color: rgba(199, 21, 133, 0.6);
    border-radius:0 0 10px 10px;	
}




/*------------------------------------------RESPONSIVE -----------------------------------------------------------------*/

@media (max-width: 576px) { 

    .newsletter{
        height: 285px;
    }
    .newsletter > h3{
        padding: 10px 0 0 10px;
    }
    .newsletter > p{
        font-size:1.2rem;
        padding: 5px 0 0 10px ;
        text-align: justify;
        overflow : hidden;
    }   

    .newsletter-box{
        width:194px;
        position:static;
        margin:auto;
        padding-top:15px;
        padding-bottom:15px;
    }
 }
 
@media (max-width: 768px) {

	}

/*// Large devices (desktops, 992px and up)
@media (maz-width: 992px) { ... }
*/

@media screen and (max-width: 1250px  ) {
	
	}


@media screen and (max-width: 1017px ) {
	
}
