/*------------------------------------------REJESTRACJA-----------------------------------------------------------------*/
.reg-form{
    background-color:rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 0px 77px 7px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 0px 77px 7px rgba(0,0,0,0.9);
    box-shadow: 0px 0px 77px 7px rgba(0,0,0,0.9);
    padding: 10px 0;
    margin-top:10px;
}

.reg-box{
    text-align:left;
    margin: 5px auto;
    max-width:305px;
}

.reg-box > form > p{
    margin: 10px 0 5px 0;
}

input[type="password"]{
    width: 194px;
    padding:5px;
    outline: none;
    color:#000;
    font-size: 1rem;
    background-color: #efefef;
    border: 2px solid #ddd;
    border-radius: 5px;
}

input[type="password"]:focus{
    background-color: #ffe6f2;
    -webkit-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
    border: 2px solid #C71585;
}

.check{
    display:block;
    margin: 10px 0 10px 0;
}

input[name="registration"]{
    display:block;
    position:relative;
    left:0;
    margin-top:10px;
    padding-bottom:5px;
    box-sizing: border-box;
    width:120px;
    height: 25px;
    border:none;
    border-radius: 5px;
    background-color: #C71585;
    color: #000;
    font-size:1.5rem;
    cursor: pointer;
    outline: none;
}

/*------------------------------------------RESPONSIVE -----------------------------------------------------------------*/
@media (max-width: 576px) { 
    .contact{
        height: 240px;			
    }

    textarea{
        width: 260px;	
    }

    input[type="submit"]{
        left:50%;
    }

    .newsletter{
        height: 285px;
    }
    
    .newsletter > h3{
        padding: 10px 0 0 10px;
    }
    
    .newsletter > p{
        font-size:1.2rem;
        padding: 5px 0 0 10px ;
        text-align: justify;
        overflow : hidden;
    }

    .newsletter-box{
        width:194px;
        position:static;
        margin:auto;
        padding-top:15px;
        padding-bottom:15px;
    }

input[name="gotowe"]{
        position:static;
        margin:auto;
        margin-top:10px;
    }			
 }
 
@media (max-width: 768px) {
    .contact{
        margin-bottom:15px;		
    }

    .contact-box{
        max-width:400px;
        text-align:center;
        position:static;	
        margin:auto;
    }

}

@media screen and (max-width: 1250px  ) {
	
    nav{
        background-color:#000;
        width: 70%;
    }

    .logo img{
        width:300px;
        height:100px;
    }
}

